<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Retrieve these values using the "Keys" blade your DocumentDB account in the Azure Mngt Portal (portal.azure.com) -->
    <add key="serviceEndpoint" value="https://oilhub.documents.azure.com:443/" />
    <add key="authKey" value="Q/BVqJbI3j11Wk3cRSxCK80YSz1A/bvrEozhfzb9AHoqL98wNPNsV5ujvJQ/r6HacBOyaFv+iYppjs3wtuTc7g==" />
    <add key="database" value="wellHubTest" />
    <add key="collection" value="whMessages" />
    <add key="collectionSelfID" value="dbs/EPNLAA==/colls/EPNLAOgLWAA=/" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
